certifi==2018.8.24
chardet==3.0.4
Click==7.0
colorclass==2.2.0
docopt==0.6.2
Flask==1.0.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
oauthlib==2.1.0
packaging==18.0
pip-upgrader==1.4.6
pyparsing==2.2.2
PySocks==1.6.8
pyswip==0.2.7
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
spotipy==2.4.4
terminaltables==3.1.0
tweepy==3.6.0
urllib3==1.23
Werkzeug==0.14.1
