<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
  </head>
  <body>
    <div class="main_div">
      <img class="mainface" src="../static/imgs/face.svg" alt="dexter's face">
      <br>
      <br>
      <p><a href="https://twitter.com/dexterthebot" target="_blank">
        @dexterthebot
      </a></p>
    </div>
    <div class="description">
      <p>
        Dexter is a friendly bot that help humans to embrace the way they truly
        feel by recommending music acordig to the sentiment they express. Feel free
        to try it by tweeting at him.
      </p>
    </div>
    <div class="cplaylists">
      <h3>Feel Free To Colaborate</h3>
      <div class="grid">
        <div class="row">
          <div class="playlist col s12 m4">
            <img class="responsive-img" src="../static/imgs/sadness.jpeg" alt="">
          </div>
          <div class="playlist col s12 m4">
            <img class="responsive-img" src="../static/imgs/fear.jpeg" alt="">
          </div>
          <div class="playlist col s12 m4">
            <img class="responsive-img" src="../static/imgs/joy.jpeg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="playlist col s12 m4">
            <img class="responsive-img" src="../static/imgs/surprise.jpeg" alt="">
          </div>
          <div class="playlist col s12 m4">
            <img class="responsive-img" src="../static/imgs/love.jpeg" alt="">
          </div>
          <div class="playlist col s12 m4">
            <img class="responsive-img" src="../static/imgs/anger.jpeg" alt="">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
